.welcome {
  position: relative;
  background-image: url('/images/foodimg.jpg');
  background-size: 130% auto;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.logo {
  margin-left: 50px;
  font-size: x-large;
  font-weight: bolder;
  color: white;
}

.header-nav {
  color: white;
  font-weight: 900;
  margin-right: 50px;
}

.header-nav div:first-child {
  margin-right: 20px;
}

.header-nav div:hover {
  color: rgb(216, 221, 221);
}

.main-logo {
  font-size: 150px;
  font-family: 'Dancing Script', cursive;
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
  color: rgb(184, 150, 105);
  text-shadow: 1px 1px rgb(93, 77, 57);
}